* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./assets/monochrome-banner-template-with-hands-people-solving-puzzle-riddle-quiz-tournament-knowledge-competition-intelligence-test-smart-game-elements-vector-illustration-line-art-style_198278-8719.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}